{% extends 'base.html'%}

{% block content %}
{% load static %}
<br />
<div class="container-fluid">
<div class="bg-image p-5 text-body-emphasis shadow-1-strong rounded mb-5 img-fluid"  style="background-image:url({%static 'mango.jpg'%}); height: auto; max-width=100%">
  <div class="col-lg-6 px-0">
    <h1 class="fst-italic" style="font-size:3vw"><b>Summer is incomplete without the sweetness of a ripe mango.</b></h1>
    <p class="lead my-2" style="font-size:2vw"><b>The famous mango varieties in India and how to identify them...</b></p>
    <p class="lead my-5 mb-0" style="font-size:2vw"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
</div>
</div>

<div class="row pt-3">
  <div class="col-2">
    <img src = "{{ food.icon.url }}" class = "img-fluid" />
    </div>
  <div class = "col-10">
    <a href = "{{ food.url }}"><h2>{{ food.title }}</h2></a>
    </div>
  </div>
  <div class="row pt-2">
      <div class="col-8">
        <img src = "{{ food.image.url }}" class = "img-fluid rounded" style="height=auto; width=100%" />
        </div>
      <div class = "col-2">
        <div class="row pt-3">
          <a href = "javascript: {document.getElementById('upvote{{food.id}}').submit()}"><button class="btn btn-fluid btn-primary btn-lg btn-block"><img src="{% static 'up.png' %}" height=20 width=20 class="img-fluid" /> {{ food.upvotes }}</button></a>
        </div>
        <div class = "row pt-3">
          <h5>Featured By: </h5>
          </div>
          <div class = "row pt-3">
            <h5>Posted on: </h5>
            </div>
          </div>
        <div class = "col-2">
          <div class="row pt-3">
            <a href = "javascript: {document.getElementById('downvote{{food.id}}').submit()}"><button class="btn btn-fluid btn-secondary btn-lg btn-block"><img src="{% static 'down.png' %}" height=20 width=20 class="img-fluid" /> {{ food.downvotes }}</button></a>
          </div>
        <div class = "row pt-3">
            <h5>{{ food.contributor }}</h5>
            </div>
            <div class = "row pt-3">
                <h5>{{ food.pub_date }}</h5>
                </div>
        </div>
    </div>
    <div class="row pt-2">
      <p>
        {{ food.body }}
        </p>
      </div>

<form id="upvote{{food.id}}" method="POST" action="{% url 'upvote' food.id %}">
      {% csrf_token %}
      <input type="hidden" />
    </form>
<form id="downvote{{food.id}}" method="POST" action="{% url 'downvote' food.id %}">
        {% csrf_token %}
        <input type="hidden" />
  </form>

{% endblock %}
