{% extends 'base.html'%}

{% block content %}
{% load static %}
<br />
<div class="container-fluid">
<div class="bg-image p-5 text-body-emphasis shadow-1-strong rounded mb-5"  style="background-image:url({%static 'mango.jpg'%}); height: 70vh;">
  <div class="col-lg-6 px-0">
    <h1 class="display-4 fst-italic"><b>Summer is incomplete without the sweetness of a ripe mango.</b></h1>
    <p class="lead my-3"><b>The famous mango varieties in India and how to identify them...</b></p>
    <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
</div>
</div>

Hello

{% endblock %}
