
{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{%static 'nearbybg.jpg'%}" class="d-block w-100 img-fluid rounded" style="height:400px" alt="...">
        <div class="carousel-caption" style="width: 500px;
  top: 50% !important;
  transform: translateY(-50%);
  text-align: left;
  bottom: initial;
  color:black;">
          <h1>Check out nearby places!!!</h1>
          <a href="{% url 'proximity' %}">
            <img src="{% static 'nearby.png' %}" height=60 width=60 /><h3>Try now!!</h3></a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{%static 'mango.jpg'%}" class="d-block w-100 img-fluid rounded" style="height:400px" alt="...">
        <div class="carousel-caption" style="width: 500px;
  top: 50% !important;
  transform: translateY(-50%);
  text-align: left;
  bottom: initial;
  color:black;">
          <h1>Show off your cooking skills!!</h1>
          <a href="{% url 'add' %}">
            <img src="{% static 'cooking.png' %}" height=80 width=80 /><h3>Add your recipe!!</h3></a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="" class="d-block w-100 img-fluid rounded" style="height:400px" alt="...">
        <div class="carousel-caption" style="width: 500px;
  top: 50% !important;
  transform: translateY(-50%);
  text-align: left;
  bottom: initial;
  color:black;">
          <h1>Head Chef:</h1>
        <h2>Prakhar Pratap Singh</h2>
        <a href="https://www.linkedin.com/in/prakhar-pratap-singh-0194511bb/"><h4>Lets connect!!</h4></a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% if food == 0 %}

      <div class="justify-content-center">
        <h2 class="fw-bold mb-5">Enter your location!!</h2>
        <form method="POST" action="{% url 'proximity' %}">
          {% csrf_token %}
          <div class="form-outline">
            <label class="form-label"><b>Address</b></label><br />
            <textarea name="address_" rows="5" cols="30" placeholder="Locality, City, State, Country..."></textarea>
          </div>
          <div class="form-outline">
            <label class="form-label"><b>Radius</b></label><br />
            <textarea name="rad" rows="1" cols="30" placeholder="in Kms"></textarea>
          </div>
          <button type="submit" class="btn btn-secondary btn-block mb-4">
            Submit
          </button>
          {% if error %}
          <div class="text-danger">
            {{ error }}
          </div> <br />
          {% endif %}
        </form>
      </div>

{% else %}
{% for food in food.values %}

<br />
<div class="rounded mx-md-1 shadow-5-strong container-fluid" style="
      background: hsla(0, 0%, 80%, 0);
      backdrop-filter: blur(1px);
      ">
  <div class="row">
    <div class ="col-2 text-center" onclick="window.location='{% url 'details' food.id%}';" style="cursor: pointer;">
      <br />
      <img src="{{ food.icon.url }}" height=60 width=60 class="img-fluid" />
      </div>
      <div class ="col-3" onclick="window.location='{% url 'details' food.id%}';" style="cursor: pointer;">
        <div class ="row">
          <h2>{{ food.title }}</h2>
          </div>
          <div class ="row">
          <p>{{ food.summary }}...</p>
            </div>
        </div>
        <div class ="col-3 text-center" onclick="window.location='{% url 'details' food.id%}';" style="cursor: pointer;">
          <br />
          {{ food.url }}
          </div>
        <div class ="col-2 text-center">
          <br />
          <a href = "javascript: {document.getElementById('upvote{{food.id}}').submit()}"><button class="btn btn-fluid btn-primary btn-lg btn-block"><img src="{% static 'up.png' %}" height=20 width=20 class="img-fluid" /> {{ food.upvotes }}</button></a>
          </div>
          <div class ="col-2 text-center">
            <br />
            <a href = "javascript: {document.getElementById('downvote{{food.id}}').submit()}"><button class="btn btn-fluid btn-secondary btn-lg btn-block"><img src="{% static 'down.png' %}" height=20 width=20 class="img-fluid" /> {{ food.downvotes }}</button></a>
            </div>

    </div>
    <form id="upvote{{food.id}}" method="POST" action="{% url 'upvotee' food.id %}">
          {% csrf_token %}
          <input type="hidden" />
        </form>
    <form id="downvote{{food.id}}" method="POST" action="{% url 'downvotee' food.id %}">
            {% csrf_token %}
            <input type="hidden" />
      </form>
  </div>

{% endfor %}

{% endif %}
</div>

{% endblock %}
